*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./Photos/3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    
}   

.nav{
    width: 1200px;
    margin: auto;
    height: 75px;

}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orangered;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.toolbar{
    width: 400px;
    float: left;
    height: 70px;

}

.menu{
    padding: 20px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main li{
    list-style: none;
    margin-top: 5px;
    margin-left: 60px;
    font-size: 14px;
}

.main li a{
    text-decoration: underline;
    color: white;
    font-weight: bold;
    transition: 0.4s ease-out;
}

.main li a:hover{
    color: orange;
}

.search{
    width: 300px;
    margin-left: 280px;
    float: left;
}

.srch{
    width: 200px;
    height: 35px;
    background: rgba(0,0,0,0.2)50%;
    border: 1px solid orangered;
    margin-top: 14px;
    color: white;
    border-right: 0px;
    font-size: 14px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 1.5px solid black;
    margin-top: 11px;
    color: black;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.srch:focus{
    outline: none;
}

.btn:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.separator{
    width: 500px;
}

.table{
    width: 700px;
    height: 330px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    position: absolute;
    top: 180px;
    left: 20px;
    border-radius: 5px;
    padding: 5px;    
}

.final-list{
    padding: 5px;
    width: 420px;
    max-width: 90%;
}

.heading{
    background: #ff7200;
    color: black;
    font-size: 16px;
}

.material{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    background-color: orange;
    font-size: 15px;
}

.disc{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    background-color: orange;
    font-size: 15px;
    text-decoration: line-through;
}

.content .pg{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1px;
    line-height: 25px;
}

.content h1{
    font-size: 30px;
    padding-left: 20px;
    margin-top: 2%;
    letter-spacing: 1.3px;
}

.content span{
    color: #ff7200;
    text-decoration: line-through;
}

.form{
    width: 250px;
    height: 450px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -30px;
    left: 890px;
    border-radius: 10px;
    padding: 20px;
}

img {
    max-width: 4vw;
  }

.form h3{
    width: 220px;
    font-family: sans-serif;
    color: white;
    font-size: 19px;
    /* text-decoration: underline; */
    /* background-color: #ff7200; */
    border-radius: 5px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 20px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: 10px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

/* .drop-down{
    width: 35px;
    height: 20px;
    position: relative;
    left: 200px;
    background: orange;
    border: none;
    margin-top: 5px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
} */

.drop-down:hover{
    background: white;
    color: orange;
}

.input:hover{
    background: white;
    color: orange;
}

.drop-down a{
    color: black;
    font-weight: bold;
    font-family: serif;
    text-decoration: none;
}

.submit{
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 5px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
}

.submit:hover{
    background: white;
    color: orange;
}

.submit a{
    color: black;
    font-weight: bold;
    font-family: serif;
}

.check-out{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 470px;
    left:1030px;
    padding: 6px;
    background: #ff7200;    
    margin-top: 3px;    
    border-radius: 8px;
    border-width: 2px;
    cursor: pointer;
    transition: 0.4s ease;    
}

.check-out:hover{
    background: white;
}

.check-out a{
    color: black;
    font-weight: bold;
    font-size: 21px;
    font-family: serif;
}

.popup-window{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.popup-window.active{
    transform: translate(-50%, -50%) scale(1);
}

.popup-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-color: orange;
}

.popup-header .title{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.popup-header .close-cart{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 22px;
    font-weight: bold;
}

.popup-body{
    padding: 10px 15px;
}

.overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.overlay.active{
    pointer-events: all;
    opacity: 1;
}

.proceed{
    width: 90px;
    height: 30px;
    padding: 2px;
    background: orange;    
    margin-top: 3px;    
    border-radius: 8px;
    border-width: 2px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.proceed:hover{
    background: rgb(164, 141, 96);
}

.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.go-back{
    width: 70px;
    height: 30px;
    padding: 2px;
    background: palegoldenrod;    
    margin-top: 3px;    
    border-radius: 8px;
    border-width: 2px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.go-back:hover{
    background: beige;
}

.drop-down-menu{
    position: absolute;
    top: 62%;
    left: 65%;
    transform: translate(-30%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: rgb(198, 213, 198);    
    width: 250px;
    max-width: 60%;
    text-align: justify;
    cursor: pointer;
}

.form input.order-input{
    color: black;
    width: 100px;
}

.drop-down-menu.active{
    transform: translate(-50%, -50%) scale(1);
}

.drop-down-menu .list{
    padding: 0px 5px;
    color: black;
    font-weight: bold;
    text-decoration: underline;    
}

.bold{
    font-weight: bold;
}






















